{% extends 'base.html.twig' %}

{% block title %}ProdutoCategoria index{% endblock %}

{% block body %}
    <h1>ProdutoCategoria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Situacao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produto_categorium in produto_categorias %}
            <tr>
                <td>{{ produto_categorium.id }}</td>
                <td>{{ produto_categorium.nome }}</td>
                <td>{{ produto_categorium.situacao }}</td>
                <td>
                    <a href="{{ path('produto_categoria_show', {'id': produto_categorium.id}) }}">show</a>
                    <a href="{{ path('produto_categoria_edit', {'id': produto_categorium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produto_categoria_new') }}">Create new</a>
{% endblock %}
