{% extends 'base.html.twig' %}

{% block title %}ProdutoCategoria{% endblock %}

{% block body %}
    <h1>ProdutoCategoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto_categorium.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto_categorium.nome }}</td>
            </tr>
            <tr>
                <th>Situacao</th>
                <td>{{ produto_categorium.situacao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produto_categoria_index') }}">back to list</a>

    <a href="{{ path('produto_categoria_edit', {'id': produto_categorium.id}) }}">edit</a>

    {{ include('produto_categoria/_delete_form.html.twig') }}
{% endblock %}
