{% extends 'base.html.twig' %}

{% block title %}Produto{% endblock %}

{% block body %}
    <h1>Produto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ produto.valor }}</td>
            </tr>
            <tr>
                <th>Data_cadastro</th>
                <td>{{ produto.dataCadastro ? produto.dataCadastro|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Situacao</th>
                <td>{{ produto.situacao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produto_index') }}">back to list</a>

    <a href="{{ path('produto_edit', {'id': produto.id}) }}">edit</a>

    {{ include('produto/_delete_form.html.twig') }}
{% endblock %}
